.a{
	height: 5000px;
	width:700px ;
}
.b{
	height: 500px;
	width: 700px;
	background-color: blue;
	padding: 1px;
}
.c{
	height: 700px;
	width: 700px;
	background-color: grey;
	padding: 1px;
}
.d{
	height: 600px;
	width: 700px;
	background-color: blue;

}
.k4{
	height: 200px;
	width: 700px;
	background-color: blue;
	padding: 1px;

}
.k5{
	height: 400px;
	width: 700px;
	background-color:blue ;
}
.a2{
	height: 350px;
	width: 200px;
	background-color: white;
	float: left;
	margin: 15px;
	margin-bottom: 40px;
	padding: 1px;

}
.a3{

	margin:35px ;
	border:1px solid blue
}
.k6{
	height: 150px;
	width: 500px;
	background-color: blue;
	margin: 25px;
	margin-left: 100px;
}
.a1{
	color: white;
	margin: 10px;
}
.k5{

}
.e{
	height: 500px;
	width: 700px;
	background-color: blue;
}
.a4{
	height: 200px;
	width: 700px;
	background-color: white;
	padding: 1px;
}
.a5{
	height: 150px;
	width: 500px;
	margin-top: 50px;
	margin-left: 90px;
	background-color:white ;

}
.k7{
	height: 150px;
	width: 700px;
	background-color: white;
}
.p1{
	height: 120px;
	width: 200px;
	margin: 15px;
	background-color: blue;
	float: left;
}
.p2{
	height: 120px;
	width: 20px ;
	background-color: white;
	float: left;
}
.p3{
	height: 120px;
	width: 180px ;
	background-color: white;
	float: right;
}
.k8{
	height: 150px;
	width: 700px;
	background-color: white;
}



.f{
	height: 550px;
	width: 700px;
	background-color: blue;
}
.c2{
	height: 200px;
	width: 700px;
	background-color: blue;
	padding: 1px;
}
.c4{
	height: 150px;
	width: 500px;
	background-color: blue;
	margin: 25px;
	margin-left: 80px;
}
.g{
	height: 500px;
	width: 700px;
	background-color: white;
}
.h{
	height: 700px;
	width: 700px;
	background-color: blue;
}
.m1{
	height: 300px;
	width: 500px;
	background-color: white;
	margin:100px ;
	
}
.m2{
	height: 300px;
	width: 250px;
	background-color: red;
	float: left;
}
.m3{
	height: 300px;
	width: 250px;
	background-color: white;
	float: right;

}
.m4{
	height: 300px;
	width: 700px;
	background-color: white;
	padding: 1px;
}
.k1{
	height: 250px;
	width: 400px;
	
	margin: 25px;
	margin-left: 100px;
	
}
.m5{
	height: 400px;
	width: 700px;
	background-color: #E8E8E8;
}
.m6{
	height: 250px ;
	width: 200px ;
	background-color: white;
	float: right;
	margin-right: 60px;
	margin-top:60px ;
}

.n2{
	
	text-align: center;
}

.n1{
	color: red;
	margin: 10px ;
}
.n3{
	margin: 10px;
}
.n4{
	text-align: center;
}

.n5{

	margin: 10px;
	color: white;
	background-color: blue;
	padding: 7px;
	border-radius: 7px;
}
.n6{
	border: 1px solid blue;
	padding: 5px;
	margin: 4px;
	margin-left: 60px;
	border-radius: 5px;
}

.n7{
	border: 1px solid blue;
	padding: 5px;
	margin: 4px;
	background-color: blue;
	color: white;
	border-radius: 5px;
}
.n8{
	background-color: blue;
	color: white;
	padding: 10px;
	border-radius: 5px;
	margin-left: 15px ;
}
.k2{
	position: relative;
	margin: 120px;
	margin-bottom: 50px ;
}
.k3{
	position: absolute;
	left: 40px;
}
.p4{
	color: white;
}

/*.c6{
	height: 250px;
	width: 500px;
	background-color: blue;
	margin: 25px;
	margin-left: 100px;
}
.c7{
	height: 250px;
	width: 200px ;
	float: left;
	background-color: white;
	margin: 3px;
}*/


hr{
	border: 1px solid red;
}
h2{
	margin-left: 10px;
	color: white;
}
.a6{
	text-align: center;
	margin-top: -20px;
}
h3{
	text-align: center;
	/*margin-top: -30px;*/

}
h5{
	margin: 10px;
	color: blue;
}
.c1{
	text-align: center;
}
.c3{
	height: 350px;
	width: 700px;
	background-color: white;

}
.c5{
	height: 350px;
	width: 350px;
	background-color: blue;
	float: left;
	padding: 1px;
}
.c7{
	height: 250px;
	width: 250px;
	background-color: white;
	margin: 50px;

}
.c8{
	height: 250px;
	width: 100px;
	background-color: white;
	float: left;
}
.c9{
	height: 250px;
	width: 150px;
	background-color: white;
	float: right;
}
.c6{
	height: 350px;
	width: 348px;
	background-color: white;
	float: right;
}
.p5{
	margin: 15px;
	border-radius: 70px;
}
i{
	margin: 10px;
	color: red;
}
.p6{
	height: 497px;
	width: 350px;
	background-color: white;
	float: left;
}
.p7{
	height: 500px;
	width: 350px;
	background-color: #E8E8E8;
	float: right;
}
.g1{
	margin: 10px;
	margin-left: 80px;
}
.g2{
	margin: 40px;
	margin-left: 100px;
	padding: 10px;
	border-radius: 10px;
	color: white;
	background-color: blue;
}
.g3{
	margin: 25px;
	margin-top: 100px ;
	border-radius: 5px;
}
.g4{
	height: 100px;
	width: 700px;
	text-align: center;
	margin: 10px;
	padding: 10px;
	color: white;
}
.g5{
	margin: 2px;
}
.g6{
	height: 600px;
	width: 700px;
	background-color: red;
}
.g7{
	height: 200px;
	width: 700px;
	background-color: pink;
}
.g8{
	height: 200px;
	width: 100px;
	float: left;
	background-color: blue;
}
.g9{
	height: 200px;
	width: 200px;
	background-color: blue;
	float: left;
}
.g10{
	height: 200px;
	width: 300px;
	background-color: blue;
	color: white;
	float: left;
}
.g11{
	height: 200px;
	width: 100px;
	background-color: blue;
	
	float: right;
}
.z1{
	margin: 25px;
	border-radius: 10px;
	border: 1px solid white;
}
.z2{
	border:1px solid white;
}
a{
	color: white;
}
.i{
	height: 600px;
	width: 700px;
	background-color: white;
	padding: 1px;
}
.i1{
	height: 400px;
	width: 300px;
	/*background-image: url('images/red.jpg');*/
	background-image: url('../images/red.jpg');
	margin:150px ;
	margin-left: 200px;
	margin-bottom: 50px;
}
.i2{
	height: 150px ;
	width: 150px;
	position: relative;
	right: 60px;
	top: 60px;
}
.i3{
	height: 150px ;
	width: 150px;
	position: relative;
	right: 60px;
	top: 60px;

}
.i4{
	height: 150px ;
	width: 150px;
	position: relative;
	bottom: 250px;
	left: 100px;

}
.i5{
	height: 150px ;
	width: 150px;
	position: relative;
	bottom: 250px;
	left: 100px;

}
.i6{
	height: 150px ;
	width: 150px;
	position: relative;
	top: -558px;
	left: 260px;

}
.i7{
	height: 150px ;
	width: 150px;
	position: relative;
	top: -558px;
	left: 260px;

}

.j1{
	height: 380px;
	width: 680px;
	background-color: #E8E8E8;
	background-image: url('../images/bac.jpeg');
	padding: 1px;
}
.h2{
	height: 200px;
	width: 500px;
	margin: 100px;
	background-color: white;
}
.s1{
	text-align: center;
}
.s2{
	text-align: center;
}


